.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #4e4e4e; */
  background-image: linear-gradient(
    to bottom,
    rgb(220 215 0 / 50%),
    rgb(0 30 230 / 50%)
  ), url("./pattern.svg");
  background-size: tile;
  z-index: 1;
}

.login-form {
  background: rgba(219, 219, 219, 0.751);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0.1, 0.1, 0.3);
  width: 300px;
  text-align: center;
  opacity: 1 !important;
  z-index: 0;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 282.63px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 50%;
  height: 40px;
  align-items: center;
  padding: 0.75rem;
  background-color: rgb(0, 180, 0);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: rgb(34, 198, 45);
  /* background: darken($green, 1.5%); */
  /* border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: lighten($red, 18%);
  text-decoration: none;
  text-shadow: -1px -1px 0 darken($red, 9.5%);
  transition: all 250ms linear; */
}
